[submodule "Libraries/libvma"]
	path = Libraries/libvma
	url = https://github.com/Mellanox/libvma.git
[submodule "Libraries/libpsample"]
	path = Libraries/libpsample
	url = https://github.com/Mellanox/libpsample.git
[submodule "Libraries/libteam"]
	path = Libraries/libteam
	url = https://github.com/jpirko/libteam.git
[submodule "Libraries/libndp"]
	path = Libraries/libndp
	url = https://github.com/jpirko/libndp.git
[submodule "Libraries/cpp-netlib"]
	path = Libraries/cpp-netlib
	url = https://github.com/cpp-netlib/cpp-netlib.git
[submodule "Libraries/evpp"]
	path = Libraries/evpp
	url = https://github.com/Qihoo360/evpp.git
[submodule "Libraries/poco"]
	path = Libraries/poco
	url = https://github.com/pocoproject/poco.git
[submodule "Libraries/enet"]
	path = Libraries/enet
	url = https://github.com/lsalzman/enet.git
[submodule "Libraries/libwebsockets"]
	path = Libraries/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "Libraries/SFML"]
	path = Libraries/SFML
	url = https://github.com/SFML/SFML.git
[submodule "Libraries/libmicrohttpd"]
	path = Libraries/libmicrohttpd
	url = https://gnunet.org/git/libmicrohttpd.git
[submodule "Libraries/inet"]
	path = Libraries/inet
	url = https://github.com/inet-framework/inet.git
[submodule "Libraries/simulte"]
	path = Libraries/simulte
	url = https://github.com/inet-framework/simulte.git
[submodule "Libraries/fastsocket"]
	path = Libraries/fastsocket
	url = https://github.com/fastos/fastsocket.git
[submodule "Libraries/beanstalkd"]
	path = Libraries/beanstalkd
	url = https://github.com/kr/beanstalkd.git
[submodule "Libraries/jfwknop"]
	path = Libraries/jfwknop
	url = https://github.com/fjoncourt/jfwknop.git
[submodule "Libraries/fwknop-gui"]
	path = Libraries/fwknop-gui
	url = https://github.com/jp-bennett/fwknop-gui.git
[submodule "Libraries/mtcp"]
	path = Libraries/mtcp
	url = https://github.com/eunyoung14/mtcp.git
[submodule "Libraries/PFQ"]
	path = Libraries/PFQ
	url = https://github.com/pfq/PFQ.git
[submodule "Demo/Net-Disco"]
	path = Demo/Net-Disco
	url = https://github.com/BlackRamElectronics/Net-Disco.git
